export KUBECONFIG=$PWD/.kubeconfig
export APP_ROOT=$PWD/acme_fitness_demo
PATH_add $PWD/bin

export HOSTED_ZONE_ID=Z00790433JF8Q9KA66EHM 
export ROOT_DOMAIN=cna-demo.ga
export MY_EMAIL=yogendrarampuria@gmail.com
export AWS_REGION=ap-southeast-1
